/* Main Styling for React Dashboard App */

/* General */

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #e3e3e3;
  font-family: 'Lato', sans-serif;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Fonts */

h1, h2, h3, h4, p {
  color: #666;
  margin: 0;
}

/* Buttons */

.btn-custom {
  background-color: #f4595b;
  border: 1px solid #f4595b;
  color: #e0e0e0 !important;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-color: #c24648;
  border: 1px solid #c24648;
  color: #d3d3d3 !important;
}

/* Nav */

nav {
  height: 60px;
  background-color: #222;
  border-bottom: 2px solid #52d3fd;
  padding: 5px 0;
}

nav h1 {
  position: relative;
  display: inline;
  vertical-align: top;
  color: #fff;
  font-size: 46px;
  padding: 10px;
}

#react-pic {
  position: relative;
  display: inline;
  height: 50px;
  padding-left: 5px;
}

/* Main section */

.main {
  padding: 20px 0;
  text-align: center;
}

.top-title {
  text-align: center;
  margin: 15px;
}

/* Component box styling */

.component-div-outer {
  margin: 10px 0;
}

.component-div-inner {
  min-height: 250px;
  max-width: 400px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  margin: 0 auto;
}

/* Input fields */

input[type="text"],
input[type="password"] {
  font-size: 16px;
  color: #666;
  cursor: pointer;
}

/* COMPONENTS */

/* Time and day */

#time-day {
  margin-top: 40px;
}

/* Weather */

.weather-icon {
  margin: 5px 0 10px 0;
}

/* Thoughts (input field) */

.user-output {
  min-height: 40px;
  padding: 20px;
  margin: 0 30px;
}

.user-output-text {
  background-color: #f2f2f2;
  line-height: 30px;
  text-align: left;
  padding: 0 10px;
  border-radius: 5px;
  /* Browser-specific word-wrap */
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;   
  word-wrap: break-word;
}

/* To do list */

.to-do-list {
  padding: 20px;
}

.items-list h3 {
  margin: 5px 0;
}

.items-list {
  padding: 5px 0;
  margin: 0 20px;
}

/* Advice */

#advice-button {
  margin-top: 30px;
}

/* Address book */

.addressbook-authenticate {
  padding: 20px;
}

.addressbook-list table {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
}

.addressbook-list table th {
  text-align: center;
  font-weight: 800;
  text-decoration: underline;
}

.addressbook-list table td {
  text-align: center;
  height: 25px;
}

/* Color picker */

#color-button {
  margin-top: 30px;
}

#your-color {
  margin-top: 50px;
}

/* Favorite dogs */

input[type="radio"] {
  margin-right: 4px;
  margin-left: 10px;
}

.dog-picture {
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid #666;
  box-shadow: 0 8px 8px rgba(0,0,0,0.4);
}

/* Car race */

.race-picture {
  margin: 15px auto;
}

/* Footer */

footer {
  height: 60px;
  background-color: #222;
}

footer h4 {
  color: #fff;
  padding: 20px 0 0 10px;
}
